# Virtual environments
.venv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env files
.env
.env.local
